.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
}

.grid .textbox {
    padding-top: 40px;
}

.grid .item {
    font-size: 2.3rem;
    letter-spacing: 0.03em;
    font-weight: bold;
}

.grid .description {
    font-size: 1.3em;
    padding: 5px;
}

.grid .links {
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}

.first {
    height: 580px;
    background-image: url(../images/promo_mbp__ek7p477bkp6q_large_2x.jpg);
    background-size: cover;
    background-position: center;
}

.first .links {
    color: #0066CC;
}

.second {
    height: 580px;
    background-image: url(../images/promo_ipad__fioegapg12qi_large_2x.jpg);
    background-size: cover;
    background-position: center;
}

.second .links {
    color: #0066CC;
}

.third {
    height: 580px;
    background-image: url(../images/promo_airpods_pro_order__d8xv36p4uwae_large_2x.jpg);
    background-size: cover;
    background-position: center;
}


.third .item {
    color: #fafafa;
}

.third .description {
    color: #fafafa;
}

.third .links {
    color: #2997FF;
}

.fourth {
    height: 580px;
    background-image: url(../images/promo_apple_watch_ultra2_order__dyxqj5ia98om_large_2x.jpg);
    background-size: cover;
    background-position: center;
}

.fourth .item {
    height: 52px;
    width: 137px;
    background-image: url(../images/promo_logo_apple_watch_ultra2__ggg2x39rsvqu_large_2x.png);
    background-size: cover;
    background-position: center;
}

.fourth .links {
    color: #0066CC;
}

.fifth {
    height: 580px;
    background-image: url(../images/promo_macbook_air_15_midnight__3zojl1nanrme_large_2x.jpg);
    background-size: cover;
    background-position: center;
}


.fifth .links {
    color: #0066CC;
}

.sixth {
    height: 580px;
    background-image: url(../images/promo_fitness__e3pj2kkbjoom_large_2x.jpg);
    background-size: cover;
    background-position: center;
}

.sixth .item {
    height: 32px;
    width: 173px;
    background-image: url(../images/promo_logo_fitness__ghrl68mizmqi_large_2x.png);
    background-size: cover;
    background-position: center;
}

.sixth .description {
    text-align: center;
    margin-top: 10px;
}

.sixth .links {
    color: #0066CC;
}

@media (max-width:1080px) {

    .grid .item {
        font-size: 2rem;
        letter-spacing: 0.03em;
        font-weight: bold;
    }
    
    .grid .description {
        font-size: 1.2em;
        padding: 5px;
    }
    
    .grid .links {
        font-size: 16px;
        font-weight: 300;
        padding: 10px;
    }

    .first {
        height: 490px;
        background-image: url(../images/promo_mbp__ek7p477bkp6q_medium_2x.jpg);
    }

    .second {
        height: 490px;
        background-image: url(../images/promo_ipad__fioegapg12qi_medium_2x.jpg);
    }

    .third {
        height: 490px;
        background-image: url(../images/promo_airpods_pro_order__d8xv36p4uwae_medium_2x.jpg);
    }

    .fourth {
        height: 490px;
        background-image: url(../images/promo_apple_watch_ultra2_order__dyxqj5ia98om_medium_2x.jpg);
    }

    .fourth .item {
        height: 42px;
        width: 110px;
        background-image: url(../images/promo_logo_apple_watch_ultra2__ggg2x39rsvqu_medium_2x.png);
    }

    .fifth {
        height: 490px;
        background-image: url(../images/promo_macbook_air_15_midnight__3zojl1nanrme_medium_2x.jpg);
    }

    .sixth {
        height: 490px;
        background-image: url(../images/promo_fitness__e3pj2kkbjoom_medium_2x.jpg);
    }

    .sixth .item {
        height: 26px;
        width: 142px;
        background-image: url(../images/promo_logo_fitness__ghrl68mizmqi_medium_2x.png);
    }
    
}

@media (max-width:850px) {

    .grid {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .grid .item {
        font-size: 2.5rem;
        letter-spacing: 0.03em;
        font-weight: bold;
    }
    
    .grid .description {
        font-size: 1.2em;
        padding: 5px;
    }
    
    .grid .links {
        font-size: 1rem;
        font-weight: 300;
        padding: 10px;
    }

    .first {
        height: 520px;
        background-image: url(../images/promo_mbp__ek7p477bkp6q_small_2x.jpg);
    }

    .second {
        height: 520px;
        background-image: url(../images/promo_ipad__fioegapg12qi_small_2x.jpg);
    }

    .third {
        height: 520px;
        background-image: url(../images/promo_airpods_pro_order__d8xv36p4uwae_small_2x.jpg);
    }

    .fourth {
        height: 520px;
        background-image: url(../images/promo_apple_watch_ultra2_order__dyxqj5ia98om_small_2x.jpg);
    }

    .fifth {
        height: 520px;
        background-image: url(../images/promo_macbook_air_15_midnight__3zojl1nanrme_small_2x.jpg);
    }

    .sixth {
        height: 520px;
        background-image: url(../images/promo_fitness__e3pj2kkbjoom_small_2x.jpg);
    }
    
}

