.first-container {
    height: calc(692px + 44px);
    padding-top: calc(44px + 40px);
    background-image: url(../images/hero_iphone15pro__i70z9oz3hj2i_largetall_2x.jpg); 
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.second-container {
    height: 692px;
    padding-top: 40px;
    background-image: url(../images/hero_iphone15_announce__uuemlcwczn6u_largetall_2x.jpg); 
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.third-container {
    height: 692px;
    padding-top: 50px;
    background-image: url(../images/hero_apple_watch_series_9_order__d0fi9mb84dci_largetall_2x.jpg); 
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item {
    font-size: 3.5rem;
    letter-spacing: -0.01em;
    font-weight: bold;
}

.description {
    font-size: 1.6em;
}

.links {
    font-size: 21px;
    font-weight: 300;
}

.links span {
    padding: 0px 20px;
}

.links span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.first-container .item {
    color: #fafafa;
}

.first-container .description {
    color: #fafafa;
    padding: 5px;
}

.first-container .links {
    padding-top: 10px;
    color: #2997FF;
}

.second-container .item {
    color: #000000;
}

.second-container .description {
    color: #000000;
    padding: 5px;
}

.second-container .links {
    padding-top: 10px;
    color: #0066CC;
}

.third-container .description {
    color: #fafafa;
    padding: 10px 0px 5px 0px;
}

.third-container .links {
    padding-top: 10px;
    color: #2997FF;
}

.third-container .item {
    height: 73px;
    width: 189px;
    background-image: url(../images/hero_logo_apple_watch_series_9__eg5xcrxghuaa_largetall_2x.png);
    background-size: cover;
    background-position: center;
}

@media (max-width:1080px) {

    .first-container {
        height: calc(500px + 44px);
        background-image: url(../images/hero_iphone15pro__i70z9oz3hj2i_mediumtall_2x.jpg);
        padding-top: calc(44px + 10px);
    }

    .second-container {
        height: 500px;
        background-image: url(../images/hero_iphone15_announce__uuemlcwczn6u_mediumtall_2x.jpg);
        padding-top: 10px;
    }

    .third-container {
        height: 500px;
        background-image: url(../images/hero_apple_watch_series_9_order__d0fi9mb84dci_mediumtall_2x.jpg);
        padding-top: 20px;
    }

    .third-container .item{
        height: 62px;
        width: 163px;
        background-image: url(../images/hero_logo_apple_watch_series_9__eg5xcrxghuaa_mediumtall_2x.png);
    }

    .item {
        font-size: 2.2rem;
    }

    .description {
        font-size: 1rem;
    }

    .links {
        font-size: 0.8rem;
    }

    
}

@media (max-width:780px) {
    
    .first-container {
        height: calc(500px + 44px);
        background-image: url(../images/hero_iphone15pro__i70z9oz3hj2i_small_2x.jpg);
        padding-top: calc(44px + 40px);
    }

    .second-container {
        height: 500px;
        background-image: url(../images/hero_iphone15_announce__uuemlcwczn6u_small_2x.jpg);
        padding-top: 40px;
    }

    .third-container {
        height: 500px;
        background-image: url(../images/hero_apple_watch_series_9_order__d0fi9mb84dci_small_2x.jpg);
        padding-top: 40px;
    }

    .third-container .item{
        height: 42px;
        width: 110px;
        background-image: url(../images/hero_logo_apple_watch_series_9__eg5xcrxghuaa_small_2x.png);
    }

}